# App settings
# List of admin logins
APP_ADMINS = ['admin']

# JWT
# Secret key
JWT_SECRET_KEY = 'secret-key'
# Token expiration time in hours
JWT_EXP = 1

# Postgres connection
# DB server URL
PG_URL = 'localhost'
# Server port
PG_PORT = 5432
# User to login as
PG_USER = 'healthcheck'
# Password for this user
PG_PASS = 'healthcheck'
# Database name
PG_DB = 'healthcheck'

# LDAP configuration
# Server URL
LDAP_URL = 'example.com'
# Server port
LDAP_PORT = 636
# Whether to use SSL
LDAP_SSL = True
# User to bind as for searching
LDAP_USER = 'cn=admin,dc=example,dc=com'
# Password of this user
LDAP_PASS = 'password'
# Base directory
LDAP_BASE_DN = 'dc=example,dc=com'
# Attribute which will be used as user's id
LDAP_ID_ATTR = 'employeeNumber'
# Attribute which will be used as user's login
LDAP_LOGIN_ATTR = 'uid'
# Attribute which will be used as user's full name
LDAP_NAME_ATTR = 'cn'
# Attribute which will be used as user's email adress
LDAP_MAIL_ATTR = 'mail'

# SMTP server configuration
# Server URL
SMTP_URL = 'smtp.example.com'
# Server port
SMTP_PORT = 465
# Whether to use STARTTLS
SMTP_STARTTLS = False
# Whether to use SSL
SMTP_SSL = True
# SMTP AUTH user
SMTP_USER = 'noreply@srednia.com'
# SMTP AUTH password
SMTP_PASS = 'password'
# Email address to login as
SMTP_MAIL = 'noreply@srednia.com'

# Email notifications
# Enable notifications
NOTIFY_ENABLE = True
# Days of month in which new survey notification will be sent
NOTIFY_NEW_DAYS = 1
# Subject of the new survey notification
NOTIFY_NEW_SUB = "[Healthcheck] New survey for your team"
# Body of the new survey notification
NOTIFY_NEW_BODY = """
    New survey period just started for your team "{team}".\n
    Please, remember to fill the survey before {end}."""
# Days of month in which unfilled survey notification will be sent
NOTIFY_UNFILLED_DAYS = 23
# Subject of the new survey notification
NOTIFY_UNFILLED_SUB = "[Healthcheck] Unfilled survey reminder"
# Body of the new survey notification
NOTIFY_UNFILLED_BODY = """
    Current survey period for your team "{team}" is ending.\n
    Please, remember to fill the survey before {end}."""
